MOODLE_PORT=12000
MOODLE_NETWORK=127.0.0.1
MOODLE_URL=https://50.50.50.50
MOODLE_SSL=true
MOODLE_FOLDER=/absolute/path/moodle
MOODLEDATA_FOLDER=/absolute/path/moodledata
MOODLE_LOG_FOLDER=/absolute/path/apache_log
MOODLE_MAX_UPLOAD_SIZE=100M

DATABASE_URL=100.100.100.100
DATABASE_PORT=2222
DATABASE_TYPE=mariadb
DATABASE_NAME=name
DATABASE_USER=user
DATABASE_PASS=password

VPL_NETWORK=127.0.0.1
VPL_PORT=4000
VPL_LOG_FILE=/absolute/path/vpl_log.log

USER_ID=1000
GROUP_ID=1000
